{% extends 'base.html.twig' %}

{% block title %}Edit Pathology{% endblock %}

{% block body %}
    <h1>Edit Pathology</h1>

    {{ include('pathology/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pathology_index') }}">back to list</a>

    {{ include('pathology/_delete_form.html.twig') }}
{% endblock %}
