{% extends 'base.html.twig' %}

{% block title %}New Pathology{% endblock %}

{% block body %}
    <h1>Create new Pathology</h1>

    {{ include('pathology/_form.html.twig') }}

    <a class="btnb" href="{{ path('app_pathology_index') }}">back to list</a>
{% endblock %}
